<h2>Posts</h2>
<% total_count = @posts.size %>
<% if total_count == 0 %>
  No posts!! Sorry!!
  <% else %>
  Total : <%= total_count %>
  <% end %>
<table>
  <thead>
    <th>Name</th>
    <th>Title</th>
    <th>Content</th>
  </thead>
  <tbody>
    <% for post in @posts %>
      <tr>
        <td> <%= in_upcase(post.name) %> </td>
        <td> <%= post.title %> </td>
        <td> <%= post.content %> </td>&nbsp;&nbsp;&nbsp;
        <td> <%=link_to 'View', post_path(post.id)%> |
        <td> <%=link_to 'Edit', edit_post_path(post.id)%> |
        <td> <%=link_to 'Delete', post_path(post.id), :method => 'delete'%>
      </tr>
    <% end %>
  </tbody>
</table>
<hr/>
<%=link_to 'Add Post', new_post_path %>
